body {
  font-family: Arial;
}

h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  background-color: #a4a4a4;
  color: #ffffff;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}
