/* productsComponent's private CSS styles */
.products {
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 30em;
  position: center;
}

.products a {
  font-size: xx-large;
  color: #333000;
  text-decoration: none;
  text-align: center;
  background-color: #EEE;
  margin: .5em;
  padding-top: .7em;
  height: 1.6em;
  border-radius: 100px;
  display: block;
  width: 100%;
}

.products a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.products a:active {
  background-color: #525252;
  color: #fafafa;
}
