<h2>Products</h2>

<!--<div *ngFor = "let product of products">-->
<!--  <div>-->
<!--    <h3>-->
<!--      <a [title]="product.name + ' details'">-->
<!--        {{ product.name }}-->
<!--      </a>-->
<!--    </h3>-->
<!--    <p *ngIf = "product.description">-->
<!--      Description: {{product.description}}-->
<!--    </p>-->
<!--    <img *ngIf = "product.picture" src="{{product.picture}}">-->
<!--  </div>-->
<!--</div>-->

  <ul class="products">
    <li *ngFor="let product of products">
      <a routerLink = "/detail/{{product.id}}">
        <span class="name">{{product.name}}</span>
      </a>
    </li>
  </ul>


